In [77]:
import pandas as pd

In [78]:
df = pd.read_csv('hin/hin/trac2_hin_dev.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          997 non-null    object
 1   Text        997 non-null    object
 2   Sub-task A  997 non-null    object
 3   Sub-task B  997 non-null    object
dtypes: object(4)
memory usage: 31.3+ KB

In [79]:
pred = pd.read_csv('hin/hin/org_hin_taskA_BertRA_predictions.csv')
pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        997 non-null    object
 1   agr_pred  997 non-null    object
dtypes: object(2)
memory usage: 15.7+ KB

In [80]:
df = pd.merge(df,pred, on='ID')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 996
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          997 non-null    object
 1   Text        997 non-null    object
 2   Sub-task A  997 non-null    object
 3   Sub-task B  997 non-null    object
 4   agr_pred    997 non-null    object
dtypes: object(5)
memory usage: 46.7+ KB

In [81]:
df.head()

,ID,Text,Sub-task A,Sub-task B,agr_pred
0,C38.9,bkl interviewers kuch jaada hi open minded bnt...,OAG,NGEN,CAG
1,C4.1510,Bhaiya shaadi mein zaroor aana movie ka plot j...,NAG,NGEN,NAG
2,C19.95,Section 375 hai kya??? .... Ye to batate kam s...,NAG,NGEN,NAG
3,C4.281,कबीर सिंह hit Hui इससे पता चलता है आजकल के लोग...,OAG,NGEN,CAG
4,C4.216,Maine itni kam dislike kbhi nhii dekhi,NAG,NGEN,NAG

In [82]:
mispred = df[df['Sub-task A'] != df['agr_pred']]

In [83]:
mispred.to_csv('hin_A_mislabels.csv', index = False)

In [84]:
len(mispred)

310