In [1]:
import pandas as pd
import re

In [22]:
def remove_nonroman(string):
    string = string.lower()
    alphabet = "abcdefghijklmnopqrstuvwxyz0123456789,;.!?:'\"/\\|_@#$%^&*~`+-=<>()[]{} "
    string_chars = [i for i in string if i in alphabet]
    new_string = ''.join(string_chars)
    new_string = ' '.join(new_string.split())
    return new_string.strip()

In [23]:
remove_nonroman('as   d~देवनागरी')

'as d~'

In [24]:
df = pd.read_csv('hin/hin/trac2_hin_dev.csv')

In [25]:
df.head()

,ID,Text,Sub-task A,Sub-task B
0,C38.9,bkl interviewers kuch jaada hi open minded bnt...,OAG,NGEN
1,C4.1510,Bhaiya shaadi mein zaroor aana movie ka plot j...,NAG,NGEN
2,C19.95,Section 375 hai kya??? .... Ye to batate kam s...,NAG,NGEN
3,C4.281,कबीर सिंह hit Hui इससे पता चलता है आजकल के लोग...,OAG,NGEN
4,C4.216,Maine itni kam dislike kbhi nhii dekhi,NAG,NGEN

In [26]:
df['roman_text'] = list(map(lambda x: remove_nonroman(x), df['Text']))
df.head()

,ID,Text,Sub-task A,Sub-task B,roman_text
0,C38.9,bkl interviewers kuch jaada hi open minded bnt...,OAG,NGEN,bkl interviewers kuch jaada hi open minded bnt...
1,C4.1510,Bhaiya shaadi mein zaroor aana movie ka plot j...,NAG,NGEN,bhaiya shaadi mein zaroor aana movie ka plot j...
2,C19.95,Section 375 hai kya??? .... Ye to batate kam s...,NAG,NGEN,section 375 hai kya??? .... ye to batate kam s...
3,C4.281,कबीर सिंह hit Hui इससे पता चलता है आजकल के लोग...,OAG,NGEN,hit hui vfx 3d course
4,C4.216,Maine itni kam dislike kbhi nhii dekhi,NAG,NGEN,maine itni kam dislike kbhi nhii dekhi

In [27]:
df.head()['Text'][3]

'कबीर सिंह hit Hui इससे पता चलता है आजकल के लोगों की पसंद कितनी गिरी हुई है और\nक्यों भारत में vfx 3D इन सब की मूवीस का कोई फ्यूचर नहीं है और क्यों बच्चे यह\nसब कुछ course करके बेरोजगार बैठे हुए हैं'

In [28]:
df.head()['roman_text'][3]

'hit hui vfx 3d course'