In [38]:
import pandas as pd

In [39]:
from indic_transliteration import sanscript
from indic_transliteration.sanscript import SchemeMap, SCHEMES, transliterate

In [40]:
df = pd.read_csv('iben/iben/trac2_iben_train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3826 entries, 0 to 3825
Data columns (total 4 columns):
ID            3826 non-null object
Text          3826 non-null object
Sub-task A    3826 non-null object
Sub-task B    3826 non-null object
dtypes: object(4)
memory usage: 119.6+ KB

In [41]:
df.head()

,ID,Text,Sub-task A,Sub-task B
0,C45.688,Dada taratari,NAG,NGEN
1,C45.635.5,Tumi korbe Amar sathe,NAG,NGEN
2,C47.103,Ar ta chara a sob bessha peter cheleder okhan ...,OAG,GEN
3,C68.147,কাকের শরীরে ময়ুরের পাখা লাগিয়েছে,CAG,NGEN
4,C45.615,পতিতাদের চরিত্র রাজনৈতিক নেতাদের থেকে হাজার গু...,NAG,NGEN

In [42]:
ata = df.head()['Text'][4]
print(transliterate(ata, sanscript.BENGALI, sanscript.IAST))

patitādera caritra rājanaitika netādera theke hājāra guna bhāla | odera satatā āāche | ṭākā
mere deya় nā | odera āāra ghāṭionā bhāi |

In [43]:
df['transliterated'] = list(map(lambda x: transliterate(x, sanscript.BENGALI, sanscript.IAST), df['Text'] ))#sanscript.DEVNAGARI for hindi
df.head()

,ID,Text,Sub-task A,Sub-task B,transliterated
0,C45.688,Dada taratari,NAG,NGEN,Dada taratari
1,C45.635.5,Tumi korbe Amar sathe,NAG,NGEN,Tumi korbe Amar sathe
2,C47.103,Ar ta chara a sob bessha peter cheleder okhan ...,OAG,GEN,Ar ta chara a sob bessha peter cheleder okhan ...
3,C68.147,কাকের শরীরে ময়ুরের পাখা লাগিয়েছে,CAG,NGEN,kākera śarīre maয়urera pākhā lāgiয়eche
4,C45.615,পতিতাদের চরিত্র রাজনৈতিক নেতাদের থেকে হাজার গু...,NAG,NGEN,patitādera caritra rājanaitika netādera theke ...

In [44]:
df.to_csv('iben/iben/trac2_iben_train_transliterated.csv', index = False)